<%- include('../partials/header') %>
<form class=" edit-form" action="/workouts/<%= workout.id%>" method="post">
    <label for="typeOfWorkout">Edit Type of Workout:
        <select name="typeOfWorkout">
            <option <%= workout.typeOfWorkout === "STRENGTH" ? "selected":"" %> value="STRENGTH">STRENGTH</option>
            <option <%= workout.typeOfWorkout === "FLEXIBILITY" ? "selected":"" %> value="FLEXIBILITY">FLEXIBILITY</option>
            <option <%= workout.typeOfWorkout === "AEROBIC" ? "selected":"" %> value="AEROBIC">AEROBIC</option>
        </select>
    </label>
    <label for="nameWorkout">Edit Name of Workout:
        <input type="text" name="nameWorkout" value="<%= workout.nameWorkout %>">
    </label>
    <label for="scheduleYear" id= "edit-date">Edit Date:
        <input type="datetime-local" name="scheduleYear" value="<%= workoutlist %>">
    </label>
    <label for="targetBody">Edit Target Body:
        <input type="text" name="targetBody" value="<%= workout.targetBody %>">
    </label>
    <button class="submit-button" type="submit">Accept Changes</button>
</form>
<%- include('../partials/footer') %>