<%- include('../partials/header') %>
<table id = "list">
    <thead> 
        <tr> 
            <th> All Workouts! </th>
            <th> Time: </th>
            <th> Type of Workout: </th>
            <th> Title: </th>
        <% workouts.forEach(function(w) { %>
            <tr>
              <td> <%= w.scheduleYear%>   </td>
              <td> <%= w.typeOfWorkout%>  </td>   
              <td> <%= w.targetBody%>     </td>
              <td> <%= w.workout%>        </td>  
              <td><a href="/workouts/<%= w._id%>"> DETAILS </a></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>